@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@100;300;400;500;700&display=swap");

:root {
  --black: #2f3030;
  --gray: #797979;
  --gray-light: #e5e7eb;
  --green: #10957d;
  --yellow: #fed15e;
  --white-background: #eefbf8;
  --white-text: #fffcfc;
  font-size: 1rem;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

p {
  line-height: 1.6rem;
  letter-spacing: 1%;
}

section {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.container {
  width: 85%;
  margin: 0 auto;
  overflow-x: hidden;
}

/* === hamburger menu === */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--green);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.alert-warning {
  background-color: var(--yellow);
  padding: 0.5em 1em;
  border-radius: 4px;
  margin-bottom: 0.5em;
  font-weight: 500;
}

/* ==== header ==== */
header {
  background-color: var(--white-background);
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: var(--white-background);
  z-index: 99;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar.scrolling-active {
  box-shadow: 0 3px 13px rgba(56, 53, 53, 0.2);
  padding: 0.25rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  color: var(--black);
}

nav .logo,
.logo > * {
  font-size: 2rem;
  cursor: pointer;
  color: var(--green);
}

ul.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
}

ul.nav-menu li a {
  display: block;
  padding: 0.5em 1em;
  color: var(--black);
  border-bottom: 1px solid transparent;
  box-shadow: 0 25px 0 -23px transparent;
}

ul.nav-menu li:hover {
  font-weight: 500;
}

.banner {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}

.banner-text {
  color: var(--black);
  width: 50%;
}

.banner-text h1 {
  font-size: 3rem;
  margin-bottom: 0.25em;
}

.banner-text p {
  font-weight: 400;
  margin-bottom: 1em;
}

p.greeting {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.banner-hero {
  position: relative;
}

.banner-hero img {
  width: 100%;
  position: absolute;
  bottom: 2px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.banner-hero img:hover {
  display: block;
  transform: translateX(20px);
}

button {
  border-radius: 4px;
  padding: 1em 2em;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid var(--green);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 5px 15px rgba(56, 53, 53, 0.2);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

button.small {
  padding: 0.5em 1em;
}

button.btn-primary {
  color: var(--white-text);
  background-color: var(--green);
}

.hire-me {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

button.btn-primary:hover {
  background-color: #087b66;
  box-shadow: none;
}

button.btn-secondary {
  background-color: var(--white-text);
  color: var(--green);
}

button.btn-secondary:hover {
  background-color: var(--green);
  color: var(--white-text);
  box-shadow: none;
}

/* ==== About ==== */
.green {
  color: var(--green);
}

.grey {
  color: var(--gray);
  font-weight: 500;
}

.about-box {
  display: flex;
  justify-content: space-between;
}

aside.about-hero {
  margin: auto;
}

aside.about-hero img {
  width: 200px;
  border-radius: 32px;
  border: 2px solid var(--green);
}

.about-text {
  width: 60%;
  color: var(--black);
}

.title {
  font-weight: 300;
}

.title::after {
  content: "";
  display: block;
  margin: 0.5em 0;
  width: 3.5em;
  height: 3px;
  background: var(--green);
}

h2 {
  color: var(--black);
  margin-bottom: 0.5em;
  font-weight: 700;
}

.about-text p {
  margin-bottom: 1em;
}

ul.media-social-list {
  list-style: none;
  margin-bottom: 1em;
  display: flex;
}

button.media-social {
  margin-right: 0.5em;
  background-color: var(--green);
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* ==== skill ==== */
.skills {
  background-color: var(--white-background);
  position: relative;
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.skills-icon {
  padding: 1.5em;
  text-align: center;
}

.skills-icon-text {
  margin-top: 0.25em;
}

/* ==== experience ==== */
.experience,
.projects {
  padding-bottom: 0;
}
.experience-text,
.projects-text,
.skills-text {
  text-align: center;
}

.experience-text,
.projects-text {
  margin-bottom: 0.5em;
}
.experience .title::after,
.projects .title::after,
.skills .title::after {
  margin: 0.5em auto;
}

.experience-list {
  margin: auto;
  width: 80%;
  padding: 0.5rem;
}

article.experience-card,
.projects-card {
  background-color: var(--white-text);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  min-height: 250px;
  margin-top: 0.5em;
  overflow: hidden;
  box-shadow: 0 3px 13px rgba(56, 53, 53, 0.2);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  padding: 1.5em;
  margin-bottom: 1em;
}

.experience-card-header {
  display: flex;
  justify-content: space-between;
}

article.experience-card:hover,
.projects-card:hover {
  border: 1px solid var(--green);
  box-shadow: none;
}
.experience-card-text {
  width: 90%;
}
.experience-card-text ul {
  margin-left: 1em;
  line-height: 1.6rem;
}

p.posisition {
  margin: 0.5em 0;
  font-weight: 500;
}

/* === projects === */
.projects-card {
  display: flex;
  justify-content: space-between;
}

.projects-card-image {
  max-width: 450px;
}

.projects-card-image img {
  width: 100%;
  background-size: cover;
}

.projects-list {
  padding: 0.5rem;
}

.projects-card-text {
  padding: 0 1.5em 1.5em 1.5em;
}
.projects-card-text p {
  margin: 0.5em 0;
  padding: 0.5 0;
}
.tech-list {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
}
.project-tech {
  padding: 0.35em 1.5em;
  background-color: var(--gray-light);
  border-radius: 32px;
  font-weight: 500;
}
.project-navigation a {
  display: inline-block;
  padding: 0.5em 1em 0.5em 0;
  transition: all 0.3s ease;
}

.project-navigation a:hover {
  color: var(--green);
}
/* === kontak === */
.contact-box {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.contact-form {
  width: 50%;
}

.input-group {
  margin-bottom: 0.75em;
}

.contact-form label {
  display: block;
  margin-bottom: 0.25em;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5em 1em;
  font-size: 1rem;
  border: 2px solid #503b3a78;
  border-radius: 4px;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid var(--green);
}

input::placeholder,
textarea::placeholder {
  opacity: 0.6;
}

button.contact {
  font-size: 0.86rem;
}
/* === footer === */
footer {
  background-color: var(--green);
  color: var(--white-text);
  padding: 2em 0 0;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.footer-text {
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: 500;
  margin-bottom: 1em;
}

.footer-box .media-social {
  background-color: var(--white-background);
  color: var(--green);
  padding: 0;
}

span.copyright {
  display: block;
  text-align: center;
  border-top: 1px solid var(--white-text);
  padding: 0.5rem 0;
}

span.copyright a {
  color: var(--white-text);
}
/* === responsive === */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--white-text);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    -webkit-transform: translateY(8px) rotate(45deg);
    -moz-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -moz-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
  }
  .experience-card-header,
  .banner,
  .projects-card {
    flex-direction: column;
    margin-bottom: 0.5em;
  }

  .banner-text {
    width: 100%;
    text-align: center;
  }

  .banner-hero {
    padding-top: 40px;
  }

  .banner-hero img {
    position: absolute;
    width: 80%;
  }

  aside.about-hero {
    display: none;
  }
  .about-box,
  .contact-box,
  .footer-box {
    flex-wrap: wrap;
  }

  .contact-box {
    gap: 0;
  }

  .about-text,
  .contact-form,
  .contact-form button {
    width: 100%;
  }

  .contact-form {
    margin-top: 0.5em;
  }

  .experience-list {
    width: 100%;
  }
  .projects-card-text {
    padding: 1.5em 0 0 0;
    order: 2;
  }
  .footer-box {
    justify-content: center;
  }
}
