@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@100;300;400;500;700&display=swap");

:root {
  --black: #2f2929;
  --brown: #503b3a;
  --red: #f65052;
  --pink: #fef4f3;
  --white: #fffcfc;
  font-size: 1rem;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

p {
  line-height: 1.5rem;
}

section {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.container {
  width: 85%;
  margin: 0 auto;
  overflow-x: hidden;
}

/* === hamburger menu === */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--red);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* ==== header ==== */
header {
  background-color: var(--white);
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: var(--white);
  z-index: 99;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar.scrolling-active {
  box-shadow: 0 3px 13px rgba(56, 53, 53, 0.2);
  padding: 0.25rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  color: var(--red);
}

nav .logo,
.logo > * {
  font-size: 2rem;
  cursor: pointer;
}

ul.nav-menu {
  display: flex;
  list-style: none;
}

ul.nav-menu li a {
  display: block;
  padding: 1em;
  color: var(--red);
  border-bottom: 1px solid transparent;
  box-shadow: 0 25px 0 -23px transparent;
}

ul.nav-menu li:hover {
  font-weight: 500;
}

.banner {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}

.banner-text {
  color: var(--brown);
  width: 50%;
}

.banner-text h1 {
  font-size: 3rem;
  margin-bottom: 0.25em;
}

.banner-text p {
  font-weight: 400;
  margin-bottom: 12px;
}
.banner .banner-hero img {
  width: 500px;
}

button {
  border-radius: 4px;
  padding: 1em 2em;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 5px 15px rgba(245, 118, 118, 0.2);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

button.primary {
  font-size: 1rem;
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
}

button.primary:hover {
  background-color: #f53437;
  box-shadow: none;
}

button.secondary {
  font-size: 0.86rem;
  background-color: var(--white);
  color: var(--red);
  border: 1px solid var(--red);
}

button.secondary:hover {
  background-color: var(--red);
  color: var(--white);
  box-shadow: none;
}

/* ==== About ==== */
span.red {
  color: var(--red);
}

.about-box {
  display: flex;
  justify-content: space-between;
}

.about .about-hero img {
  width: 350px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.about-text {
  width: 60%;
  color: var(--brown);
}

.title {
  font-weight: 300;
}

.title::after {
  content: "";
  display: block;
  margin: 0.5em 0;
  width: 3.5em;
  height: 3px;
  background: var(--red);
}

h2 {
  color: var(--brown);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.about-text p {
  margin-bottom: 0.5rem;
}

ul.about-list {
  list-style: none;
  margin-bottom: 1rem;
}

ul.about-list li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

ul.about-list li span {
  margin-right: 0.5rem;
  background-color: var(--red);
  padding: 0.25rem;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* ==== suscribe ==== */
.suscribe {
  background-color: var(--red);
  position: relative;
}

.suscribe-box {
  display: flex;
  justify-content: space-between;
}

.suscribe-form span.suscribe {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 0.5rem;
}

.suscribe-form p {
  margin-bottom: 0.5rem;
  color: var(--white);
}
.suscribe-form input {
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 4px;
  width: 80%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 2px solid transparent;
}

.suscribe-form .input-group {
  display: flex;
  align-items: center;
}

.suscribe-form button.suscribe {
  margin-left: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.suscribe-form button.suscribe:hover,
button.social-media:hover {
  border: 1px solid var(--white);
}

.suscribe-hero img {
  width: 380px;
  position: absolute;
  top: 90px;
  right: 230px;
}

/* ==== service ==== */
.service,
.testimonial {
  padding-bottom: 0;
}
.service-text,
.testimonial-text {
  text-align: center;
}

.service-text p {
  margin-bottom: 0.5rem;
}
.service .title::after,
.testimonial .title::after {
  margin: 0.5em auto;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1rem;
  padding: 0.5rem;
}

.service-card {
  background-color: var(--white);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  min-height: 250px;
  margin-top: 0.5rem;
  overflow: hidden;
  box-shadow: 0 3px 13px rgba(56, 53, 53, 0.2);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.service-card-icon {
  display: flex;
  justify-content: space-between;
}
.service-card-icon .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border: 1px solid var(--red);
  border-radius: 4px 0 4px 0;
  padding: 1em 2em;
  width: 2em;
  background-color: var(--red);
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  -ms-border-radius: 4px 0 4px 0;
  -o-border-radius: 4px 0 4px 0;
}

.service-card-icon .info {
  border-radius: 0 4px 0 4px;
  display: none;
  -webkit-border-radius: 0 4px 0 4px;
  -moz-border-radius: 0 4px 0 4px;
  -ms-border-radius: 0 4px 0 4px;
  -o-border-radius: 0 4px 0 4px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.service-card:hover {
  border: 1px solid var(--red);
  box-shadow: none;
}

.service-card:hover .info {
  display: flex;
}

.service-card-text {
  padding: 1.5em;
}

.service-card-text h3 {
  color: var(--brown);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* === testimonial === */
.testimonial p,
.contact p {
  margin-bottom: 0.5rem;
}

.testimonial-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
}
/* === kontak === */
.contact-box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.contact-form,
.footer-link {
  width: 50%;
}

.input-group {
  margin-bottom: 0.75rem;
}

.contact-form label {
  display: block;
  margin-bottom: 0.25rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5em 1em;
  font-size: 1rem;
  border: 2px solid #503b3a78;
  border-radius: 4px;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid var(--red);
}

input::placeholder,
textarea::placeholder {
  opacity: 0.6;
}

button.contact {
  font-size: 0.86rem;
}
/* === footer === */
footer {
  background-color: var(--red);
  color: var(--white);
  padding: 3rem 0 0;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.footer-text {
  width: 30%;
}

.footer-link {
  display: flex;
  justify-content: space-between;
}

.footer-text .logo {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.footer-text p {
  font-weight: 300;
}

span.footer-title {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

button.social-media {
  padding: 0.5rem;
  width: 2rem;
}

.footer-link ul {
  list-style: none;
}

.footer-link ul li a {
  display: block;
  color: var(--white);
  margin-bottom: 0.5rem;
  font-weight: 300;
}
.footer-link ul li a:hover {
  font-weight: 500;
}

span.copyright {
  display: block;
  text-align: center;
  border-top: 1px solid var(--white);
  padding: 0.5rem 0;
}

span.copyright a {
  color: var(--white);
}
/* === responsive === */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    -webkit-transform: translateY(8px) rotate(45deg);
    -moz-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -moz-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
  }

  .banner {
    align-items: center;
    padding: 0;
  }
  .banner-text {
    width: 100%;
    text-align: center;
  }

  .banner .banner-hero,
  .about-hero,
  .suscribe-hero img {
    display: none;
  }
  .about-box,
  .contact-box,
  .service-list,
  .footer-box,
  .footer-link {
    flex-wrap: wrap;
  }

  .contact-box {
    gap: 0;
  }

  .about-text,
  .contact-form,
  .contact-form button,
  .footer-box > * {
    width: 100%;
  }

  .contact-form,
  .footer-link {
    margin-top: 0.5rem;
  }
}
